@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700");

.App {
  width: 100vw;
  height: 100vh;
  background: #fff;
  color: #212121;
  font-family: "Roboto", sans-serif;
  display: grid;
  place-items: center;
  background-color: #f1f1f1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  height: auto;
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
  height: 100%;
}

::-webkit-scrollbar{
  width: 8px;
}
::-webkit-scrollbar-thumb{
  border-radius: 20px;
  background: #ddd;
}
::-webkit-scrollbar{
  width: 8px;
  height: 8px;
}

.card-join {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 2px solid #ccc;
  padding: 10px 20px;
  width: 30%;
  height: 50%;
  background: #fff;
  border-radius: 10px;
}

.card-join h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.card-join input {
  width: 100%;
  height: 40px;
  margin: 7px 0;
  border: 2px solid #43a047;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
}

.card-join button {
  width: 100%;
  height: 40px;
  margin: 7px 0;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  background: #43a047;
  color: #fff;
  cursor: pointer;
}

.card-join button:hover {
  background: #2e7d32;
}

.chat-window {
  width: 100%;
  height: 100%;
}

.chat-window p {
  margin: 0;
}
.chat-window .chat-header {
  height: 45px;
  background: #263238;
  position: relative;
  cursor: pointer;
}
.chat-window .chat-header p {
  display: block;
  padding: 0 1em 0 2em;
  color: #fff;
  font-weight: 700;
  line-height: 45px;
}

.chat-window .chat-body {
  height: calc(100vh - 85px);
  border: 1px solid #263238;
  background: #f1f1f1;
  position: relative;
}

.chat-window .chat-body .message-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.chat-window .chat-body .message-container::-webkit-scrollbar {
  display: none;
}
.chat-window .chat-body .message {
  height: auto;
  padding: 10px;
  display: flex;
}

.chat-window .chat-body .message .message-card {
  width: auto;
  height: auto;
  min-height: 40px;
  max-width: 120px;
  min-width: 15em;
  background-color: #43a047;
  border-radius: 5px;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 10px;
  overflow-wrap: break-word;
  word-break: break-word;
  margin-bottom: 10px;
}

#you {
  justify-content: flex-end;
}

#you .message-card {
  justify-content: flex-end;
}

#you {
  justify-content: flex-end;
  margin-left: 5px;
}

#other {
  justify-content: flex-start;
}

#other .message-card {
  justify-content: flex-start;
  background-color: cornflowerblue;
}

#other {
  justify-content: flex-start;
  margin-right: 5px;
}

#author {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 1.4em;
}

#message-content {
  font-size: 1.2em;
}

#other #time {
  margin-left: 5px;
  margin-top: 5px;
}

.chat-window .chat-body .message {
  display: flex;
  font-size: 12px;
}

.chat-window .chat-footer {
  height: 40px;
  border: 1px solid #263238;
  border-top: none;
  display: flex;
}

.chat-window .chat-footer input {
  height: 100%;
  flex: 85%;
  border: 0;
  padding: 0 0.7em;
  font-size: 1em;
  border-right: 1px dotted #607d8b;

  outline: none;
  font-family: "Roboto", sans-serif;
}

.chat-window .chat-footer button {
  border: 0;
  display: grid;
  place-items: center;
  cursor: pointer;
  flex: 15%;
  height: 100%;
  background: transparent;
  outline: none;
  font-size: 25px;
  color: lightgray;
}

.chat-window .chat-footer button:hover {
  color: #43a047;
}
.hide {
  opacity: 0 !important;
}
